---
import { useTranslations } from "../../i18n/utils";

const lang = Astro.currentLocale as "fr" | "en";
const t = useTranslations(lang);

const title = "fr" === lang ? "À suivre…" : "More soon…";
const subtitle =
  "fr" === lang
    ? "Nous migrons notre site, merci de ta patience."
    : "We are migrating our website, thanks for your patience.";
---

<div class="p-8 text-center bg-zinc-500">
  <h1 class="text-4xl pb-3 text-zinc-100">{title}</h1>
  <h2 class="text-xl text-zinc-100">🚧 {subtitle} 🚧</h2>
</div>
