---
import { useTranslations } from "../../i18n/utils";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

const lang = Astro.currentLocale as "fr" | "en";
const t = useTranslations(lang);
---

<style>
  .event-slider {
    --swiper-theme-color: #bae6fd;
    --swiper-navigation-size: 25px;
  }
</style>

<div class="bg-sky-800 text-sky-200 w-full">
  <h1 class="max-w-screen-lg text-6xl p-8 oswald">
    {t("page.events.title")}
  </h1>
</div>

<div class="bg-sky-600 text-sky-100 w-full">
  <div
    class="max-w-screen-lg mx-auto flex flex-col gap-4 sm:flex-row items-center p-8"
  >
    <div class="w-full sm:w-1/2 md:w-2/3 lg:w-3/4">
      {
        "en" === lang ? (
          <p class="mb-4">
            Backbeat organizes various events throughout the year - from social
            dances to workshops, from performances to parties. Join us to
            discover the joy of swing dancing in a welcoming and friendly
            atmosphere.
          </p>
        ) : (
          <p class="mb-4">
            Backbeat organise divers événements tout au long de l'année - des
            soirées dansantes aux ateliers, des performances aux fêtes.
            Rejoignez-nous pour découvrir la joie de la danse swing dans une
            ambiance accueillante et chaleureuse.
          </p>
        )
      }
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, Pagination } from "swiper/modules";

  new Swiper(".event-slider", {
    modules: [Pagination, Autoplay],
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
