---
import { Image } from "astro:assets";
import dalcrozePhoto from "../../../images/courses/dalcroze.jpg";
import grottesPhoto from "../../../images/courses/grottes-1.jpg";
import whiteysPhoto from "../../../images/courses/whiteys-lindy-hoppers.jpg";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Courses | Backbeat">
  <div class="flex items-center justify-center h-full">
    <div class="flex items-start max-h-[240px] overflow-hidden">
      <Image src={dalcrozePhoto} alt="Dalcroze" class="w-1/3 object-cover" />
      <Image
        src={whiteysPhoto}
        alt="Whitey's Lindy Hoppers"
        class="w-1/3 object-cover"
      />
      <Image
        src={grottesPhoto}
        alt="École des Grottes"
        class="w-1/3 object-cover"
      />
    </div>
  </div>

  <div class="w-full bg-sky-600 text-center text-white py-24">
    <div class="max-w-screen-lg mx-auto">
      <h1 class="text-4xl font-bold mb-6 oswald">
        Looking for jazz dance classes? Lindy Hop? Solo Jazz?
      </h1>
      <h2 class="text-xl mb-6">We offer two formats!</h2>

      <div class="flex flex-col md:flex-row md:flex-wrap md:justify-center">
        <a
          href="weekly"
          class="flex-1 md:basis-[45%] border-4 border-lime-500 m-6 p-6 bg-lime-800 hover:bg-lime-600"
        >
          <h1 class="text-2xl font-bold mb-4 oswald">Weekly Classes</h1>
          <p class="text-left mb-3">
            Week after week, build connections, listen to jazz, and learn to
            dance the Lindy Hop. Laughter, warmth, and guaranteed learning!
          </p>
        </a>
        <a
          href="workshops"
          class="flex-1 md:basis-[45%] border-4 border-amber-500 m-6 p-4 bg-amber-800 hover:bg-amber-600"
        >
          <h1 class="text-2xl font-bold mb-4 oswald">Workshops</h1>
          <p class="text-left mb-3">
            Intense weekends of Lindy Hop and Solo Jazz, with amazing guest
            teachers!
          </p>
          <p class="text-left mb-3">
            Courses suitable for all levels, from beginners to experienced.
          </p>
          <p class="text-left mb-3">
            An great opportunity to discover, or go further.
          </p>
        </a>
      </div>
    </div>
  </div>
</Layout>
