---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { format } from "date-fns";
import { useTranslations } from "../../../i18n/utils";
import headerImage from "../../../images/courses/grottes-2.jpg";
import Layout from "../../../layouts/Layout.astro";
import { generateRelativeUrl } from "../../../utils";

const lang = Astro.currentLocale as "fr" | "en";
const t = useTranslations(lang);

const allCourses = await getCollection(
  "courses",
  ({ id, data: { published } }) => {
    return id.startsWith(lang) && published;
  }
);

const activeCourse = 0 < allCourses.length ? allCourses[0] : null;
---

<Layout title="Cours | Backbeat" class="bg-yellow-500">
  <div class="flex flex-col max-w-screen-lg mx-auto bg-stone-100 my-12">
    <div class="flex items-center max-h-[240px] overflow-hidden">
      <Image
        src={headerImage}
        alt="École des Grottes"
        class="w-full object-cover"
      />
    </div>
    <div class="p-12">
      <h1 class="text-4xl mb-6 oswald">Weekly courses</h1>
      <p class="mb-4">
        For 6 years now, Backbeat has been offering weekly courses - to discover
        Lindy Hop week after week; to create a friendly group; to laugh
        together; to gradually immerse yourself in the culture of jazz dances.
      </p>
      <p class="mb-4">
        Our weekly courses take place at the Ecole des Grottes.
      </p>
      <p class="mb-4">
        In general, our courses are taught by different teachers who share
        Backbeat's values: warmth, interest in jazz culture, and a committed
        effort to make everyone feel welcome.
      </p>
    </div>
  </div>

  {
    activeCourse && (
      <a
        href={generateRelativeUrl(`/courses/${activeCourse.slug}/`)}
        class="flex flex-col max-w-screen-lg mx-auto mt-6 bg-yellow-300 p-2 pb-0 my-12"
      >
        <img
          src={activeCourse.data.bannerSrc}
          alt="Current course's banner"
          class="w-full object-cover"
        />
        <div class="flex flex-row text-xl">
          <span class="flex-1 text-left p-2">{activeCourse.data.title}</span>
          <span class="flex-1 text-right p-2">
            From {format(new Date(activeCourse.data.fromDate), "dd.MM.yyyy")} to{" "}
            {format(new Date(activeCourse.data.toDate), "dd.MM.yyyy")}
          </span>
        </div>
      </a>
    )
  }
</Layout>
