---
import { Image } from "astro:assets";
import headerImage from "../../../images/courses/grottes-2.jpg";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Courses | Backbeat" class="bg-yellow-500">
  <div class="flex flex-col max-w-screen-lg mx-auto bg-stone-100 my-12">
    <div class="flex items-center max-h-[240px] overflow-hidden">
      <Image
        src={headerImage}
        alt="Grottes School"
        class="w-full object-cover"
      />
    </div>
    <div class="p-12">
      <h1 class="text-4xl mb-6 oswald">Practice</h1>
      <p class="mb-4">
        For all highly motivated dancers who want to:
        <ul>
          <li>Learn historical swing routines</li>
          <li>Learn together</li>
          <li>Progress in an amazing atmosphere!!!</li>
        </ul>
      </p>
      <p class="mb-4">
        Come to the Grottes school, every Wednesday from 6:30 PM to 7:45 PM.
      </p>
      <p class="mb-4">No registration needed.</p>
    </div>
  </div>
</Layout>
