---
import { format } from "date-fns";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";

const lang = "en";
const allPosts = await getCollection("posts", ({ id }) => id.startsWith(lang));
const allEvents = await getCollection(
  "events",
  ({ id, data: { published } }) => {
    return id.startsWith(lang) && published;
  }
);
---

<Layout title="Backbeat">
  <main class="w-60 mx-auto bg-slate-900">
    <h1 class="text-gradient">Posts</h1>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
    <h1 class="text-gradient">Events</h1>
    <ul>
      {
        allEvents.map((event) => (
          <li>
            <a href={`/events/${event.slug}/`}>
              {format(new Date(event.data.date), "dd.MM.yyyy")}
              {event.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
