---
import { useTranslations } from "../../i18n/utils";
import Layout from "../Layout.astro";

import WorkshopDecoBottom from "../../components/workshops/WorkshopDecoBottom.astro";
import WorkshopHeader from "../../components/workshops/WorkshopsHeader.astro";
import WorkshopList from "../../components/workshops/WorkshopsList.astro";

const lang = Astro.currentLocale as "fr" | "en";
const t = useTranslations(lang);
---

<Layout title={t("workshops.title") + " | Backbeat"} class="bg-pink-400">
  <WorkshopHeader />
  <div class="flex flex-grow">
    <WorkshopList />
  </div>
  <WorkshopDecoBottom />
</Layout>
