---
import { useTranslations } from "../i18n/utils";
import FontAwesomeIcon from "./icons/FontAwesomeIcon.astro";

const lang = Astro.currentLocale as "fr" | "en";
const t = useTranslations(lang);

const charterUrl =
  "fr" === lang ? "/fr/association/charte" : "/en/association/charter";
const registrationConditionsUrl =
  "fr" === lang
    ? "/fr/association/conditions-inscription"
    : "/en/association/registration-conditions";

const homeFrUrl = "/fr";
const homeEnUrl = "/en";
---

<footer class="p-12 pt-20 bg-amber-50 my-auto mb-0 text-stone-600">
  <div class="flex flex-col lg:flex-row w-full">
    <div class="flex-none lg:w-2/5 mb-6">
      <h2 class="text-xl font-bold mb-4">Backbeat</h2>
      <ul class="space-y-2">
        <li class="flex items-center">
          <a href="mailto:info.backbeat@gmail.com">
            <FontAwesomeIcon icon="email" class="h-6 fill-stone-600" /> info.backbeat@gmail.com
          </a>
        </li>
        <li class="flex items-center">
          <a
            href="https://www.instagram.com/backbeatassociation/"
            target="_blank"
          >
            <FontAwesomeIcon icon="instagram" class="h-6 fill-stone-600" /> backbeatassociation
          </a>
        </li>
        <li class="flex items-center">
          <a href="https://www.facebook.com/backbeat.ge" target="_blank">
            <FontAwesomeIcon icon="facebook" class="h-6 fill-stone-600" /> Backbeat
          </a>
        </li>
      </ul>
    </div>
    <div class="grow">
      <h2 class="text-xl mb-4">{t("footer.shortcuts")}</h2>
      <div class="flex flex-col md:flex-row">
        <ul class="flex-1">
          <li><a href={charterUrl}>{t("nav.charte")}</a></li>
          <li>
            <a href={registrationConditionsUrl}
              >{t("nav.registration-conditions")}</a
            >
          </li>
        </ul>
        <ul class="flex-1 mt-2 md:mt-0">
          <li>
            {"fr" === lang && <a href={homeEnUrl}>In English</a>}
            {"en" === lang && <a href={homeFrUrl}>En français</a>}
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
