---
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n/utils";
import FontAwesomeIcon from "./icons/FontAwesomeIcon.astro";

const lang = Astro.currentLocale as "fr" | "en";
const t = useTranslations(lang);

const homeUrl = getRelativeLocaleUrl(lang, "");
const charteUrl = getRelativeLocaleUrl(lang, "association/charte");
---

<footer class="p-12 pt-20 bg-amber-50 my-auto mb-0 text-stone-600">
  <div class="flex w-full">
    <div class="flex-none w-1/4">
      <h2 class="text-xl font-bold mb-4">Backbeat</h2>
      <ul class="space-y-2">
        <li class="flex items-center">
          <a href="mailto:info.backbeat@gmail.com">
            <FontAwesomeIcon icon="email" class="h-6 fill-stone-600" /> info.backbeat@gmail.com
          </a>
        </li>
        <li class="flex items-center">
          <a
            href="https://www.instagram.com/backbeatassociation/"
            target="_blank"
          >
            <FontAwesomeIcon icon="instagram" class="h-6 fill-stone-600" /> backbeatassociation
          </a>
        </li>
        <li class="flex items-center">
          <a href="https://www.facebook.com/backbeat.ge" target="_blank">
            <FontAwesomeIcon icon="facebook" class="h-6 fill-stone-600" /> Backbeat
          </a>
        </li>
      </ul>
    </div>
    <!-- <div class="grow">
      <ul>
        <li><a href="{{ homeUrl }}">Charte</a></li>
        <li><a href="{{ charteUrl }}">Politique de confidentialité</a></li>
      </ul>
    </div> -->
  </div>
</footer>
