---
import { useTranslations } from "../i18n/utils";

const lang = Astro.currentLocale as "fr" | "en";
const t = useTranslations(lang);
---

<div class="text-center">
  <h1 class="text-4xl">{t("more-soon")}</h1>
  <h2 class="text-xl">{t("more-soon.help")}</h2>
</div>
