---
import { getEntry } from "astro:content";
import PlaceBox from "../PlaceBox.astro";

const lang = Astro.currentLocale as "fr" | "en";

const placeEntry = await getEntry("places", "ecole-des-grottes");
const place = placeEntry?.data;
---

<div
  class="mx-auto flex w-full max-w-screen-lg flex-grow flex-col bg-amber-200 border-amber-600 justify-center gap-6 py-12 px-4"
>
  <div class="max-w-prose mx-auto">
    {
      lang === "fr" ? (
        <div class="text-lg">
          <p class="w-full mb-4">
            Pour toux·te danseur·euse ultra motivé·e qui souhaite :
            <ul class="list-disc ml-6 space-y-1 mb-4">
              <li>Connaître les routines historiques du swing</li>
              <li>Apprendre ensemble</li>
              <li>Progresser dans une ambiance de ouf !!!</li>
            </ul>
          </p>
          <p class="w-full mb-4">
            Viens à l'école des Grottes, tous les mercredis de 18h30 à 19h45.
          </p>
          <p class="w-full mb-4">Sans inscription.</p>
        </div>  
      ) : (
        <div class="text-lg">
          <p class="w-full mb-4">
            For all highly motivated dancers who want to:
            <ul class="list-disc ml-6 space-y-1 mb-4">
              <li>Learn historical swing routines</li>
              <li>Learn together</li>
              <li>Progress in an amazing atmosphere!!!</li>
            </ul>
          </p>
          <p class="w-full mb-4">
            Come to the Grottes school, every Wednesday from 6:30 PM to 7:45 PM.
          </p>
          <p class="w-full mb-4">No registration needed.</p>
        </div>
      )
    }

    {
      place && (
        <h2 class="text-2xl font-bold mt-8 mb-4">
          {lang === "fr" ? "Lieu" : "Place"}
        </h2>
        <div class="max-w-prose mx-auto grid grid-cols-1 gap-6">
          <PlaceBox place={place} />
        </div>
      )
    }
  </div>
</div>
