---
import { format } from "date-fns";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <p>Date: {format(new Date(frontmatter.date), "dd.MM.yyyy")}</p>
    <slot />
  </main>
</Layout>
