---
interface Props {
  title: string;
}

import "@fontsource/montserrat";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { generateRelativeUrl } from "../utils";

const currentLanguage = Astro.currentLocale;

const { title } = Astro.props;
---

<!doctype html>
<html lang={currentLanguage}>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Association Backbeat" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href={generateRelativeUrl("/favicon.png")}
    />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-sky-50">
    <Navigation />
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>
