---
interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
  class?: string;
  style?: string;
}

import "@fontsource-variable/montserrat";
import "@fontsource-variable/oswald";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { generateRelativeUrl } from "../utils";

const {
  title,
  description,
  keywords,
  class: classes,
  style: customStyle,
} = Astro.props;

const lang = Astro.currentLocale as "fr" | "en";

const descriptionFinal = description
  ? description
  : "fr" === lang
    ? "Backbeat, danses swing à Genève. L'association Backbeat, c'est des gens qui aiment et partagent le swing, son histoire, sa musique et ses danses."
    : "Backbeat, swing dance in Geneva. The Backbeat association is a group of people who love and share swing, its history, its music and its dances.";

const keywordsArray = keywords ? keywords : [];
keywordsArray.push(
  "Backbeat",
  "swing",
  "lindy hop",
  lang === "fr" ? "Genève" : "Geneva",
  "association",
);
---

<!doctype html>
<html lang={lang}>
  <head>
    <title>{title ? title + " | Backbeat" : "Backbeat"}</title>
    <meta charset="utf-8" />
    <meta name="description" content={descriptionFinal} />
    <meta name="keywords" content={keywordsArray.join(", ")} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      rel="icon"
      type="image/png"
      href={generateRelativeUrl("/favicon.png")}
    />
    <style>
      :global(.oswald) {
        font-family: "Oswald Variable", sans-serif;
      }
    </style>
  </head>
  <body class="min-h-screen flex flex-col bg-sky-50">
    <Navigation />
    <div class={`flex flex-col flex-grow ${classes}`} style={customStyle}>
      <slot />
    </div>
    <Footer />
  </body>
</html>
