---
interface Props {
  title: string;
}

import "@fontsource/montserrat";

import Navigation from "../components/Navigation.astro";

const currentLanguage = Astro.currentLocale;

const { title } = Astro.props;
---

<!doctype html>
<html lang={currentLanguage}>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Association Backbeat" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>

<style is:global>
  body {
    @apply bg-stone-300 text-stone-950;
  }
</style>
