---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="mx-auto max-w-prose w-full">
    <div
      class="prose py-20
      prose-headings:uppercase
      prose-h1:font-bold prose-h1:text-3xl prose-h1:text-center
      prose-h2:font-bold prose-h2:text-2xl
      prose-h3:font-bold prose-h3:text-xl prose-h3:normal-case
      prose-a:text-sky-600
      prose-p:text-justify"
    >
      <slot />
    </div>
  </main>
</Layout>
