---
import { format } from "date-fns";
import { generateRelativeUrl } from "../utils";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <p>Post date: {format(new Date(frontmatter.date), "dd.MM.yyyy")}</p>
  <slot />
  <img
    src={generateRelativeUrl(frontmatter.imageSrc)}
    alt={frontmatter.title}
  />
</Layout>
