---
import { getCollection } from "astro:content";
import { format } from "date-fns";

const lang = Astro.currentLocale as "fr" | "en";
const allWorkshops = await getCollection(
  "workshops",
  ({ id, data: { published } }) => {
    return id.startsWith(lang) && published;
  },
);

allWorkshops.sort((a, b) => {
  const dateA = new Date(a.data.fromDate);
  const dateB = new Date(b.data.fromDate);

  return dateB.getTime() - dateA.getTime();
});
---

<div
  class="mx-auto flex w-full max-w-screen-lg flex-grow flex-wrap items-center justify-center gap-4 p-4"
>
  {
    allWorkshops.length === 0 ? (
      <p class="text-center text-white">
        {"en" === lang ? (
          <em>No workshops are currently programmed.</em>
        ) : (
          <em>Aucun atelier n'est actuellement programmé.</em>
        )}
      </p>
    ) : (
      allWorkshops.map((workshop) => (
        <a
          href={`${workshop.slug.split("/").slice(1).join("/")}`}
          class="flex flex-col w-full md:w-[calc(50%-1rem)] pb-0 my-6 border-8 border-pink-600"
          style={`background-color: ${workshop.data.frontColor}`}
        >
          <img
            src={workshop.data.imageSrc}
            alt="Bannière du cours actuel"
            class="w-full object-cover"
          />
          <div class="flex flex-col text-white">
            <span class="flex-1 text-xl p-2 font-bold">
              {workshop.data.title}
            </span>
            <span class="flex-1 p-2 pt-0">
              Du {format(new Date(workshop.data.fromDate), "dd.MM.yyyy")} au{" "}
              {format(new Date(workshop.data.toDate), "dd.MM.yyyy")}
            </span>
          </div>
        </a>
      ))
    )
  }
</div>
